<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tablo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="app">
      <section class="section">
        <div class="container">
          <fieldset>
            <div class="field">
              <label class="label">From</label>
              <div class="control">
                <input class="input" type="text" placeholder="From" v-model.trim="departureStationCode">
              </div>
            </div>
            <div class="field">
              <label class="label">To</label>
              <div class="control">
                <input class="input" type="text" placeholder="To" v-model.trim="arrivalStationCode">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button" v-on:click="findDepartures">Show</button>
              </div>
            </div>
          </fieldset>
        </div>
      </section>
      <section class="section" v-if="departures.length > 0">
        <div class="container">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Destination</th>
                <th><abbr title="Departure">Dep</abbr></th>
                <th><abbr title="Arrival">Arr</abbr></th>
                <th><abbr title="Platform">Plat</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="departure in departures">
                <td>{{ departure.destination }}</td>
                <td>{{ departure.departure_time }}</td>
                <td>{{ departure.arrival_time }}</td>
                <td>{{ departure.platform }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </body>
</html>

